<div id="contactContainer">
    <div id="contactContent" >
        <app-logo></app-logo>
        <div id="leftContainer" >
            <div id="contactMeContainer">
                <h4>{{ 'contact.contactme' | translate }}</h4>
            </div>
            <div id="readyContainer">
                <h1>{{ 'contact.ready' | translate }}</h1>
            </div>
            <div id="descriptionContainer">
                <p>{{ 'contact.description' | translate }}</p>
            </div>
            <div id="arrowContainer">
                <img id="arrow" src="assets/img/contact/arrow.svg" alt="arrow">
            </div>
        </div>
        <div id="rightContainer">
            <form id="formContainer" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <div id="nameFormContainer" class="formContainer">
                    <h2 class="formTitle">{{ 'contact.contactForm.nameLabel' | translate }}</h2>
                    <div id="nameForm">
                        <input ngModel #name="ngModel" name="name" [(ngModel)]="contactData.name" class="form-input"
                            type="text" placeholder="{{ 'contact.contactForm.namePlaceholder' | translate }}" required
                            autocomplete="off">
                        @if (!name.valid && name.touched && !name.disabled) {
                        <span class="errorMessage">{{ 'contact.contactForm.nameError' | translate }}</span>
                        }
                    </div>
                </div>
                <div id="emailFormContainer" class="formContainer">
                    <h2 class="formTitle">{{ 'contact.contactForm.emailLabel' | translate }}</h2>
                    <div id="emailForm">
                        <input ngModel #email="ngModel" name="email" [(ngModel)]="contactData.email" class="form-input"
                            type="email" placeholder="{{ 'contact.contactForm.emailPlaceholder' | translate }}"
                            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required autocomplete="off">
                        @if (!email.valid && email.touched && !email.disabled) {
                        <span class="errorMessage">{{ 'contact.contactForm.emailError' | translate }}</span>
                        }
                    </div>
                </div>
                <div id="messageFormContainer" class="formContainer">
                    <h2 class="formTitle">{{ 'contact.contactForm.messageLabel' | translate }}</h2>
                    <div id="messageForm">
                        <textarea #message="ngModel" ngModel name="message" [(ngModel)]="contactData.message"
                            class="form-input" minlength="4"
                            placeholder="{{ 'contact.contactForm.messagePlaceholder' | translate }}" required
                            autocomplete="off"></textarea>
                        @if (!message.valid && message.touched && !message.disabled) {
                        <span class="errorMessage">{{ 'contact.contactForm.messageError' | translate }}</span>
                        }
                    </div>
                </div>
                <div id="checkboxContainer">
                    <div id="checkboxWrapper">
                        <input ngModel #checkbox="ngModel" [(ngModel)]="contactData.checkbox" id="checkbox" type="checkbox" name="checkbox" id="checkbox" (click)="checkCheckBox()">
                    </div>
                    <label #checkboxLabel id="checkboxLabel" for="checkbox">
                        {{ 'contact.contactForm.privacyFirstPart' | translate }}
                        <span id="link" (click)="openPrivacyPolicy()">{{ 'contact.contactForm.link' | translate }}
                        </span>
                        <span>{{ 'contact.contactForm.privacySecondPart' | translate }}</span>
                    </label>
                </div>
                @if (!checkBoxIsChecked() && name.valid && email.valid && message.valid) {
                <div id="errorContainer">
                    <p id="errorMessage">{{ 'contact.contactForm.errorMessage' | translate }}</p>
                </div>
                }
                <div id="feedbackContainer">
                    @if (showSuccessMessage) {
                    <div class="feedback-message success">
                        {{ 'contact.contactForm.successMessage' | translate }}
                    </div>
                    }
                    @if (showErrorMessage) {
                    <div class="feedback-message error">
                        {{ 'contact.contactForm.submitError' | translate }}
                    </div>
                    }
                </div>
                <div id="sendButtonContainer">
                    <button id="sendButton" [disabled]="!enableButton()" [ngClass]="{'disabled': !enableButton()}"
                        type="submit">
                        {{ 'contact.contactForm.send' | translate}}</button>
                </div>
            </form>
        </div>
    </div>