a {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: #ffc107;
}

#contactContainer {
  width: 100vw;
  height: 55vh;
  min-height: 1000px;
  position: relative;
  background-image: url("./../../../../public/assets/img/contact/backgroundRotate.png") !important;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  margin: 0 auto;
  font-family: "Bricolage Grotesque", sans-serif;
}
#contactContent {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#leftContainer {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 200px;
}
#rightContainer {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 200px;
}
#contactMeContainer {
  width: 100%;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
  }
}
#readyContainer {
  width: 100%;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  h1 {
    font-size: 4rem;
    font-weight: 600;
    color: #fff;
  }
}
#descriptionContainer {
  width: 100%;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
  }
}
#arrowContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  img {
    width: 50%;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    animation: writeIn 5s linear infinite;
  }
}

@keyframes writeIn {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  10% {
    clip-path: inset(0 0 0 0);
  }
  11% {
    clip-path: inset(0 0 0 0);
  }
  
  100% {
    clip-path: inset(0 0 0 0);
  }
}
#nameFormContainer {
  min-width: 300px;
}

.formTitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}
.formContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
  padding: 20px;
}
#nameForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#emailForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#messageForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  textarea {
    width: 100%;
    height: 100px;
    border-top: none;
    vertical-align: bottom;
    border-left: none;
    border-right: none;
    outline: none;
    transition: border-color 0.3sease;
    font-size: 1.2rem;
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    border-bottom: 2px solid #ffc107;
    resize: none;
  }
}
textarea::placeholder {
  vertical-align: bottom;
}
#checkboxContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.form-input {
  width: 100%;
  border-bottom: 2px solid #ffc107;
  outline: none;
  transition: border-color 0.3sease;
  background: transparent;
  color: #fff;
  padding: 0 10px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  background-color: transparent;
  border-right: none;
}
#formContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 200px;
}
#checkboxContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
#checkbox {
  width: 20px;
  height: 20px;
  background-color: transparent;
  margin-right: 10px;
  border: 1px solid blue;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#checkboxWrapper {
  position: relative;
}

#checkbox:checked::after {
  transform-origin: top right;
  content: "\2714";
  position: absolute;
  bottom: 0%;
  right: 40%;
  z-index: 10;
  clip-path: polygon(-45% 16%, 80% -42%, 154% 149%, 25% 100%);
  color: #ffc107;
  font-size: 1.2rem;
  font-weight: 600;
}
#checkboxLabel {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}
#errorContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  p {
    font-size: 1rem;
    font-weight: 600;
    color: #df1b1b;
    padding-left: 25px;
    padding-top: 10px;
  }
}
#sendButtonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 50px;
  button {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    border-bottom: 7px solid white;
    border-right: 5px solid white;
    border-radius: 25px;
    padding: 5px 50px 5px 50px;
    transition: border 0.3s ease-in-out;
    &:hover {
      border: 1px solid white;
      background-color: #f87a55;
      cursor: pointer;
    }
  }
}

//LOGO

::ng-deep #circleContainer {
  top: 8% !important;

}

::ng-deep #circle {
  width: 150px !important;
  height: 150px !important;
}

::ng-deep #logo {
  width: 97px !important;
  height: 154px !important;
  top: 13% !important;
  left: 49% !important;
}

::ng-deep #logoText {
  top: 9% !important;
  right: -9.5% !important;
  height: 200px !important;
  width: 200px !important;
}
