<div id="contactContainer">
    <div id="contactContent">
        <div id="leftContainer">
            <div id="contactMeContainer">
                <h4>CONTACT ME</h4>
            </div>
            <div id="readyContainer">
                <h1>Ready to work together?</h1>
            </div>
            <div id="descriptionContainer">
                <p>I'm always looking for new and exciting projects to work on. If you have any questions or would like
                    to discuss a potential collaboration, please don't hesitate to contact me.</p>
            </div>
            <div id="arrowContainer">
                <img id="arrow" src="assets/img/contact/arrow.svg" alt="arrow">
            </div>
        </div>
        <div id="rightContainer">
            <div id="circleContainer">
                <img id="circle" src="assets/img/contact/circle.png" alt="circle">
                <img id="logo" src="assets/img/contact/logo.svg" alt="logo">
                <svg id="logoText" viewBox="0 0 500 500">
                    <path id="curve" d="M73.2,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97"
                        fill="transparent" />
                    <text>
                        <textPath href="#curve">
                            SEBASTIAN HARHAMMER - FRONTEND DEVELOPER - SEBASTIAN HARHAMMER - FRONTEND DEVELOPER
                        </textPath>
                    </text>
                </svg>
            </div>
            <div id="nameFormContainer" class="formContainer">
                <h2 class="formTitle">What's your name?</h2>
                <form id="nameForm">
                    <input class="form-input" type="text" placeholder="Whats your name?">
                </form>
            </div>
            <div id="emailFormContainer" class="formContainer">
                <h2 class="formTitle">Whats your email?</h2>
                <form id="emailForm">
                    <input class="form-input" type="email" placeholder="Whats your email?">
                </form>
            </div>
            <div id="messageFormContainer" class="formContainer">
                <h2 class="formTitle">How can I help you?</h2>
                <form id="messageForm">
                    <input class="form-input" type="text" name="message" id="message" placeholder="Write something to me">
                </form>
            </div>
            <div id="checkboxContainer">
                <input type="checkbox" name="checkbox" id="checkbox">
                <label for="checkbox">I agree to the terms and conditions</label>
            </div>
            <button id="sendButton">Send</button>
        </div>
    </div>