#pictureFrameContainer {
    position: relative;
    &:hover {
        #meImage {
            rotate: 0deg;
            filter: grayscale(0%);
            transition: all 0.3s ease;
            left: 6%;
           /*  @media (max-width: 768px) {
                left: 6.5%;
            } */
        }
        #frontendImage {
            rotate: 0deg;
            transition: all 0.3s ease;
        }
        #meText {
            rotate: 0deg;
            transition: all 0.3s ease;
            left: 24%;
        }
    }
}
#frontendImage {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    min-width: 200px;
    min-height: 225px;
    rotate: 10deg;
    position: relative;
    transition: all 0.3s ease;
  }
  #meImage {
    width: 86%;
    height: 71%;
    rotate: 10deg;
    position: absolute;
    top: 5%;
    left: 9%;
    filter: grayscale(100%);
    transition: all 0.3s ease;
/*     @media (max-width: 768px) {
        width: 205px;
        height: 225px;
        left: 8.5%;
    } */
  }
  #meText {
    position: absolute;
    bottom: 10%;
    left: 15%;
    font-size: 0.9rem;
    rotate: 10deg;
    color: #000;
    font-family: 'Kalam', cursive;
    transition: all 0.3s ease;
    animation: meText 3s ease-in-out infinite;
  }
  @keyframes meText {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    25% {
        transform: translateY(-5px) scale(1.1);
        opacity: 0.8;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        padding-left: 2px;
        padding-right: 2px;
    }
    50% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    75% {
        transform: translateY(5px) scale(0.9);
        opacity: 0.8;
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
  }
