
#attention {
  position: absolute;
  top: 10%;
  left: 5%;
  color: rgb(228, 19, 19);
  font-size: 3.5rem;
  font-weight: 600;
  z-index: 10;
  transform: rotate(-10deg);
  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

#projectsContent {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Bricolage Grotesque";
  overflow-x: hidden;
  @media (max-width: 768px) {
    flex-direction: column;
    height: 100%;
  }
}
#flexWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  div {
    flex: 1 0 40%;
  }
  
  @media (max-width: 768px) {
    flex-direction: column;
    height: 100%; 
  }
}
.project-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: calc(50% - 2rem);
  padding: 2%;
}

#headlineContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2%;
}

#myCraftContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#myCraftTitle {
  font-size: 1.5rem;
  font-weight: 500;
  animation: myCraftTitle 10s ease-in-out infinite; 
}

#projectsTitleContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

#projectsTitle {
  font-size: 4rem;
  font-weight: 500;
}
@keyframes myCraftTitle {
  0% {
    color: black;
  }
  50% {
    color: #f87a55;
    text-shadow: 0 0 5px #f87a55;
  }
  100% {
    color: black;
  }
}

#projectsLine {
  width: 100%;
  transform-origin: left;
  animation: appear 3s ease-out infinite;
}



#projectsDescriptionContainer {
  padding-top: 50px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

#elPolloLocoContainer {
  width: 100%;
}
#elPolloLocoOverlay {
  bottom: 10%;
  right: 5%;
}

#elPolloLocoImage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  object-fit: fill;
}
#joinProjectContainer {
  width: 100%;
  display: flex;
  align-items: center;
}
#joinProjectImage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  object-fit: fill;
}

#joinProjectOverlay {
  bottom: 10%;
  right: 5%;
}
#pokedexProjectContainer {
  width: 100%;
  display: flex;
  align-items: center;
  @media (max-width: 768px) {
    padding-bottom: 100px;
  }
}


#pokedexOverlay {
  bottom: 10%;
  right: 5%;
}
#pokedexImage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  object-fit: fill;
}
#portfolioProject {
  display: flex;
  align-items: center;
  justify-content: center;
}
#portfolioProjectContainer {
  width: 100%;
}
#portfolioImage {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  object-fit: fill;
  border-radius: 25px 25px 0 0;
}
.portfolio-overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



.project {
  max-width: 700px;
  max-height: 400px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.project-description {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  h3 {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem;
    animation: projectTitle 10s ease-in-out infinite;
  }
  p {
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem;
  }
}
@keyframes projectTitle {
  0% {
    color: black;
  }
  50% {
    color: #f87a55;
    text-shadow: 0 0 2px #f87a55;
  }
  100% {
    color: black;
  }
}

.project-container {
  transition: all 0.3s ease;
}

.project-container:hover .project-image {
  opacity: 1;
  filter: brightness(0.8);
  transform: scale(1.3);
  transition: all 0.3s ease;
}
.project-container:hover .project-overlay {
  z-index: 15;
}
.project-container:hover .project {
  border-radius: 25px;
}

.project-container {
  position: relative;
  overflow: hidden;
}

.project-container:hover::after {
  left: 100%;
}

.project-overlay {
  position: absolute;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
  border: 1px solid white;
  border-bottom: 10px solid white;
  border-right: 7px solid white;
  border-radius: 25px;
  padding: 5px 20px 5px 20px;
  transition: border 0.3s ease-in-out;
  z-index: 2;
  &:hover {
    border: 1px solid white;
    background-color: #f87a55;
    color: white;
    cursor: pointer;
  }
}
.project-image {
  position: relative;
  z-index: 10;
  height: 100%;
  /* max-height: 400px;
  max-width: 700px; */
  /* min-width: 350px;
  min-height: 200px; */
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}

@keyframes appear {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
