<div id="projectsContent">
    <div id="flexWrapper">
        <div id="headlineContainer">
            <div id="myCraftContainer">
                <h4 id="myCraftTitle">{{ 'projects.myCraft' | translate }}</h4>
            </div>
            <div id="projectsTitleContainer">
                <h1 id="projectsTitle">{{ 'projects.title' | translate }}</h1>
                <div class="line-container">
                    <img id="projectsLine" src="assets/img/projects/line.svg" alt="decorative line" class="line-image"
                        class="project-image">
                </div>
            </div>
            <div id="projectsDescriptionContainer">
                <span>
                    {{ 'projects.description' | translate }}
                </span>
            </div>
        </div>
        <div id="elPolloLocoContainer" class="project-container">
            <div id="elPolloLocoProject" class="project">
                <img class="project-image" id="elPolloLocoImage" src="assets/img/projects/polloloco.webp"
                    alt="El Pollo Loco">
                <span class="project-overlay" (click)="openProjectDetail('ellpolloloco')" id="elPolloLocoOverlay">{{
                    'projects.overlay' | translate }}</span>
            </div>
            <div id="elPolloLocoDescription" class="project-description">
                <h3>{{ 'projects.ellpolloloco.title' | translate }}</h3>
                <p>
                    {{ 'projects.ellpolloloco.description' | translate }}
                </p>
            </div>
        </div>
        <div id="joinProjectContainer" class="project-container">
            <div id="joinProjectImageContainer" class="project">
                <img class="project-image" id="joinProjectImage" src="assets/img/projects/join.webp" alt="Join Project">
                <span class="project-overlay" (click)="openProjectDetail('join')" id="joinProjectOverlay">{{
                    'projects.overlay' | translate }}</span>
            </div>
            <div id="joinProjectDescription" class="project-description">
                <h3>{{ 'projects.join.title' | translate }}</h3>
                <p>
                    {{ 'projects.join.description' | translate }}
                </p>
            </div>
        </div>
        <div id="pokedexProjectContainer" class="project-container">
            <div id="pokedexProject" class="project">
                <img class="project-image" id="pokedexImage" src="assets/img/projects/pokedex.webp" alt="Pokedex">
                <span id="attention">WIRD DURCH DA BUBBLE ERSETZT</span>
                <span class="project-overlay" (click)="openProjectDetail('pokedex')" id="pokedexOverlay">{{
                    'projects.overlay' | translate }}</span>
            </div>
            <div id="pokedexDescription" class="project-description">
                <h3>{{ 'projects.pokedex.title' | translate }}</h3>
                <p>
                    {{ 'projects.pokedex.description' | translate }}
                </p>

            </div>
        </div>
    </div>

    <ng-container *ngIf="isProjectDetailVisible">
        <app-project-detail [project]="selectedProject" (close)="closeProjectDetail()">
        </app-project-detail>
    </ng-container>