<div id="projectsContent">
    <div id="leftContainer">
        <div id="headlineContainer">
            <div id="myCraftContainer">
                <h4 id="myCraftTitle">MY CRAFT</h4>
            </div>
            <div id="projectsTitleContainer">
                <h1 id="projectsTitle">Projects</h1>
                <div class="line-container">
                    <img src="assets/img/projects/line.svg" alt="decorative line" class="line-image">
                </div>
            </div>
            <div id="projectsDescriptionContainer">
                <span>
                    My recent projects showcase my expertise in frontend development, focusing on creating interactive,
                    responsive, and user-friendly web applications that deliver seamless digital experiences.
                </span>
            </div>
        </div>
        <div id="elPolloLocoContainer" class="project-container">
            <div id="elPolloLocoProject" class="project">
                <img id="elPolloLocoImage" src="assets/img/projects/polloloco.jpg" alt="El Pollo Loco">
            </div>
            <div id="elPolloLocoDescription" class="project-description">
                <h3>El Pollo Loco</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
                </p>
            </div>
        </div>
    </div>
    <div id="rightContainer">
        <div id="joinProjectContainer" class="project-container">
            <div id="joinProjectImageContainer">
                <img id="joinProjectImage" src="assets/img/projects/join.png" alt="Join Project">
            </div>
            <div id="joinProjectDescription" class="project-description">
                <h3>Join a project</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
                </p>
            </div>
        </div>
        <div id="pokedexProjectContainer" class="project-container">
            <div id="pokedexProject">
                <img id="pokedexImage" src="assets/img/projects/pokedex.png" alt="Pokedex">
            </div>
            <div id="pokedexDescription" class="project-description">
                <h3>Pokedex</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
                </p>

            </div>
        </div>
    </div>

</div>
