<div id="projectDetailContainer">
    <app-header></app-header>
    <button class="close-button" (click)="closeDetail()">×</button>
    <div id="projectDetail">
        <div class="project-content" *ngIf="projectDetails[project]">
            <h1>{{ projectDetails[project].title }}</h1>
            
            <div class="project-images">
                <img *ngFor="let image of projectDetails[project].images" 
                     [src]="image" 
                     [alt]="projectDetails[project].title">
            </div>

            <div class="project-info">
                <p>{{ projectDetails[project].description }}</p>
                
                <div class="technologies">
                    <span *ngFor="let tech of projectDetails[project].technologies">
                        {{ tech }}
                    </span>
                </div>

                <div class="project-links">
                    <a *ngIf="projectDetails[project].github" 
                       [href]="projectDetails[project].github" 
                       target="_blank">GitHub</a>
                    <a *ngIf="projectDetails[project].live" 
                       [href]="projectDetails[project].live" 
                       target="_blank">Live Demo</a>
                </div>
            </div>
        </div>
    </div>
</div>
