<div id="projectDetailContainer">
    <app-header></app-header>
    <div id="contentContainer">
        <div class="close-button" (click)="closeDetail()">
            <img src="assets/img/projects/back.svg" alt="Close Button">
            <span>{{ 'projectDetail.close' | translate }}</span>
        </div>
        <div id="projectDetail">
            <div class="project-description-container">
                <div class="project-description-headline-container">
                    <h1>{{ 'projects.' + project + '.title' | translate }}</h1>
                    <img class="blue-line" src="assets/img/projects/blue_line.svg" alt="Arrow Right">
                </div>
                <div class="project-description-text-container">
                    <h2>{{ 'projectDetail.description' | translate }}</h2>
                    <p>{{ 'projects.' + project + '.description' | translate }}</p>
                </div>
                <div class="project-description-text-container">
                    <h2>{{ 'projectDetail.implementationdetails' | translate }}</h2>
                    <p>{{ 'projects.' + project + '.description' | translate }}</p>
                </div>
                <div class="project-technologies-container">
                    <h2>{{ 'projectDetail.duration' | translate }}</h2>
                    <p>{{ 'projects.' + project + '.duration' | translate }}</p>
                </div>
                <div class="icon-container">
                    <div class="technologies" *ngFor="let tech of projectDetails[project].technologies">
                        <div class="technology-icon">
                        <img src="assets/img/projects/icons/{{ tech }}.svg" alt="{{ tech }}">
                        <span>
                            {{ tech }}
                        </span>
                    </div>
                    </div>
                </div>
            </div>
            <div id="projectContent" *ngIf="projectDetails[project]">
                <div class="project-images">
                    <img #projectImage id="projectImage" *ngFor="let image of projectDetails[project].images"
                        [src]="image" alt="{{ 'projects.' + project + '.title' | translate }}">
                    <app-logo></app-logo>
                </div>

                <div class="project-info">

                    <div class="project-links">
                        <a *ngIf="projectDetails[project].github" [href]="projectDetails[project].github"
                            target="_blank"><span class="git-links">Github</span></a>
                        <a *ngIf="projectDetails[project].live" [href]="projectDetails[project].live"
                            target="_blank"><span class="git-links">{{ 'projectDetail.liveDemo' | translate
                                }}</span></a>
                    </div>
                </div>
                <div class="next-project-container" (click)="openNextProject(projectDetails[project].nextProject)">
                    <span id="next-project-title">{{ 'projectDetail.nextprojecttitle' | translate }}</span>
                    <img src="assets/img/projects/next.svg" alt="Arrow Right">
                </div>
            </div>
        </div>
    </div>
</div>