.legal-notice-container {
  position: relative;
  background-color: #fff;
  background-image: url("./../../../../public/assets/img/hero/background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 100px;
  color: white;
  font-family: 'Bricolage Grotesque', sans-serif;
  position: relative;
  padding-bottom: 30%;
  
  z-index: 1;
  
  .content {
    padding-left: 2%;
    padding-right: 2%;
    max-width: 1440px;
    margin: 120px auto 250px auto; 
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
      h1 {
      margin-bottom: 2rem;
    }
    @media (max-width: 768px) {
      padding-left: 5%; 
      padding-right: 10%;
  
    }
  }
  h1 {
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 4rem;
    color: #C19C18;
    border-bottom: 1px solid white;
    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
  }
  h2 {
    padding-bottom: 10px;
    color: #F87A55;
    padding-top: 10px;
    font-size: 3rem;
    @media (max-width: 768px) {
      font-size: 1.2rem;
    }
  }
  h3 {
    padding-bottom: 7.5px;
    padding-top: 7.5px;
    font-size: 2rem;
    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }
  h4 {
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 1rem;
    @media (max-width: 768px) {
      font-size: 0.8rem;
    }
  }
  p {
    padding-bottom: 2.5px;
    padding-top: 2.5px;
    font-size: 0.8rem;
  }
  li {
    padding-bottom: 2.5px;
    padding-top: 2.5px;
    font-size: 0.8rem;
    border-bottom: 1px dotted white;
    border-top: 1px dotted white;
  }
}
.back-button-container {
  position: fixed;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid white;
  border-radius: 20px;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  background-color: #C19C18;
  padding: 10px;
  z-index: 20;
  &:hover {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    cursor: pointer;
  }
}
.back-button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  span {
    font-size: 1.2rem;
    font-family: 'Bricolage Grotesque', sans-serif;
  }
  
  &:hover {
    opacity: 0.8;
  }
}
/* ::ng-deep #footerContainer {
  display: none !important;
} */

::ng-deep #footerContainer {
  margin: -350px auto 0 auto !important;
  z-index: 100;
}
