.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar-menu {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  position: relative;

  .navbar-menu-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: bold;
    }
    a:hover {
      text-decoration: none;
      color: #000;
    }
    img {
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      clip-path: inset(0 100% 0 0);
      transition: clip-path 0.3s ease-in-out;
    }
  }
  
  .navbar-menu-item a:hover + img {
    clip-path: inset(0 0 0 0);
  }
}
.navbar-language {
  display: flex;
  gap: 1rem;
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}
