<nav class="navbar">
    <div class="navbar-brand">
        <a href="#">
            <img id="logo" src="assets/img/header/logo.svg" alt="logo">
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-menu-item">
            <a href="#">About me</a>
            <img src="assets/img/header/about_me_line.svg" alt="about_me_line">
        </div>
        <div class="navbar-menu-item">
            <a href="#">Skills</a>
            <img src="assets/img/header/skill_line.svg" alt="skills_line">
        </div>
        <div class="navbar-menu-item">
            <a href="#">Projects</a>
            <img src="assets/img/header/projects_line.svg" alt="projects_line">
        </div>
        <div class="navbar-menu-item">
            <a href="#">Contact</a>
            <img src="assets/img/header/contact_line.svg" alt="contact_line">
        </div>
    </div>
    <div class="navbar-language">
        <div class="navbar-language-item">
            <a href="#">EN</a>
            <img src="assets/img/header/english_toggle.svg" alt="english_toggle">
        </div>
        <div class="navbar-language-divider">
            <img src="assets/img/header/dot.svg" alt="dot">
            <img src="assets/img/header/vector.svg" alt="selector_line">
        </div>
        <div class="navbar-language-item">
            <a href="#">DE</a>
            <img src="assets/img/header/german_toggle.svg" alt="german_toggle">
        </div>
    </div>
</nav>
