.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(0, 0, 0, 0.9);
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0;
    
  }
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;

  &:hover {
    cursor: pointer;
    svg path {
      transition: fill 0.1s ease-in-out;
      color: #f7c518;
      fill: #f7c518;
      stroke: #f7c518;
      background-color: #f7c518;
    }
  }
}
#headerMobileMenu {
  &:hover {
    cursor: pointer;
    svg path {
      transition: fill 0.1s ease-in-out;
      color: #f7c518;
      fill: #f7c518;
      stroke: #f7c518;
      background-color: #f7c518;
    }
  }
  @media (min-width: 768px) {
    display: none;
  }
}

.navbar-menu {
  font-family: "Bricolage Grotesque";
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
  width: 65%;
  &:hover {
    cursor: pointer;
  }

  .navbar-menu-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;

    a {
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 0.5rem;
      color: white;
    }
    a:hover {
      text-decoration: none;
    }
    img {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      transition: clip-path 0.3s ease-in-out;
      clip-path: inset(0 100% 0 0);
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  #navbarMenuItemProject {
    bottom: -11px;
  }

  .navbar-menu-item:first-child img {
    clip-path: inset(100% 0 0 0);
  }

  .navbar-menu-item:hover img {
    clip-path: inset(0 0 0 0);
  }
}

.navbar-language {
  display: flex;

  // Move the dot positioning logic to use a class on the parent
  &.en-active #dot {
    left: 10%;
    transition: left 0.3s ease-in-out;
  }

  &.de-active #dot {
    left: 90%;
    transition: left 0.3s ease-in-out;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.navbar-language-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: relative;
  z-index: 100;
  justify-content: center;
  img {
    width: 35px;
    position: absolute;
    left: -5px;
    right: -5px;
    bottom: -5px;
    width: calc(100% + 10px);
    transition: clip-path 0.3s ease-in-out;
    clip-path: inset(0 100% 0 0);
  }

  #de,
  #en {
    font-family: "Bricolage Grotesque";
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      cursor: pointer;
    }
  }

  // Add these new styles for active language
  .en-active #en,
  &.en-active #en {
    color: #f7c518; // or any color you prefer
  }

  .de-active #de,
  &.de-active #de {
    color: #f7c518; // or any color you prefer
  }

  &:hover img {
    clip-path: inset(0 0 0 0);
  }
}

.language-toggle {
 

  &:hover {
    cursor: pointer;
  }
}

.language-toggle.active ~ .navbar-language-divider #dot {
  transition: left 0.3s ease-in-out;
}

#en-toggle.active ~ .navbar-language-divider #dot {
  left: 10% !important;
}
#en-toggle.active ~ #en {
  display: none;
}
#de-toggle.active ~ #de {
  display: none;
}
#de-toggle.active ~ .navbar-language-divider #dot {
  left: 90% !important;
}

.navbar-language-divider {
  position: relative;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  width: 40px;
  height: 40px;

  #dot {
    position: absolute;
    top: 50%;
    left: 10%; // Default position
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: left 0.3s ease-in-out;
  }
}

#selector_line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: drawLine 1s ease-in-out forwards;
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}
