.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}
#logo {
  width: 100px;
}
.navbar-menu {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  position: relative;

  .navbar-menu-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;

    a {
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 0.5rem;
    }
    a:hover {
      text-decoration: none;
      color: #000;
    }
    img {
      position: absolute;
      left: 0;
      left: -5px;
    right: -5px;
    bottom: -5px;
      width: 100%;
      transition: clip-path 0.3s ease-in-out;
    }
  }
  
  .navbar-menu-item img {
    clip-path: inset(0 100% 0 0);
  }
  
  .navbar-menu-item:first-child img {
    clip-path: inset(100% 0 0 0);
  }
  
  .navbar-menu-item a:hover + img {
    clip-path: inset(0 0 0 0);
  }
}
.navbar-language {
  display: flex;
  gap: 1rem;
}
.navbar-language-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: relative;
  justify-content: center;
  img {
    width: 35px;
    position: absolute;
    left: -5px;
    right: -5px;
    bottom: -5px;
    width: calc(100% + 10px);
    transition: clip-path 0.3s ease-in-out;
    clip-path: inset(0 100% 0 0);
  }
  
  &:hover img {
    clip-path: inset(0 0 0 0);
  }
}


@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}

