#headerMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  width: 100vw;
  background-image: url("./../../../../public/assets/img/hero/background.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: transform 0.3s ease-in-out;
  
}

#headerMobileTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
#headerMobileBottom {
  padding-bottom: 20%;
}
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  &:hover {
    svg path {
      transition: fill 0.1s ease-in-out;
      color: #f7c518;
      fill: #f7c518;
      stroke: #f7c518;
      background-color: #f7c518;
      cursor: pointer;
    }
  }
}

.navbar-menu {
  font-family: "Bricolage Grotesque";
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  width: 100%;
  &:hover {
    cursor: pointer;
  }

  .navbar-menu-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;

    a {
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 0.5rem;
      color: white;
    }
    a:hover {
      text-decoration: none;
    }
    img {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      transition: clip-path 0.3s ease-in-out;
      clip-path: inset(0 100% 0 0);
    }
  }

  .navbar-menu-item:first-child img {
    clip-path: inset(100% 0 0 0);
  }

  .navbar-menu-item:hover img {
    clip-path: inset(0 0 0 0);
  }
}

.navbar-language {
  display: flex;

  // Move the dot positioning logic to use a class on the parent
  &.en-active #dot {
    left: 10%;
    transition: left 0.3s ease-in-out;
  }

  &.de-active #dot {
    left: 90%;
    transition: left 0.3s ease-in-out;
  }
}

.navbar-language-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: relative;
  justify-content: center;
  img {
    width: 35px;
    position: absolute;
    left: -5px;
    right: -5px;
    bottom: -5px;
    width: calc(100% + 10px);
    transition: clip-path 0.3s ease-in-out;
    clip-path: inset(0 100% 0 0);
  }

  #de,
  #en {
    font-family: "Bricolage Grotesque";
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      cursor: pointer;
    }
  }

  &:hover img {
    clip-path: inset(0 0 0 0);
  }
}

.language-toggle {
  z-index: 100;

  &:hover {
    cursor: pointer;
  }
}

.language-toggle.active ~ .navbar-language-divider #dot {
  transition: left 0.3s ease-in-out;
}

#en-toggle.active ~ .navbar-language-divider #dot {
  left: 10% !important;
}
#en-toggle.active ~ #en {
  display: none;
}
#de-toggle.active ~ #de {
  display: none;
}
#de-toggle.active ~ .navbar-language-divider #dot {
  left: 90% !important;
}

.navbar-language-divider {
  position: relative;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  width: 40px;
  height: 40px;

  #dot {
    position: absolute;
    top: 50%;
    left: 10%; // Default position
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: left 0.3s ease-in-out;
  }
}

#selector_line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: drawLine 1s ease-in-out forwards;
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}

#socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  &:hover {
    cursor: pointer;
    border: 2px solid white;
    background-color: white;
    border-radius: 45px;
    svg path {
      fill: black;
      stroke: black;
    }
  }
}
