<div id="circleContainer">
    <img id="circle" src="assets/img/contact/circle.png" alt="circle">
    <img id="logo" src="assets/img/contact/logo.svg" alt="logo">
    <svg id="logoText" viewBox="0 0 500 500">
        <path id="curve" d="M250,250 m-150,0 a150,150 0 1,1 300,0 a150,150 0 1,1 -300,0"
            fill="transparent" />
        <text width="500">
            <textPath href="#curve" fill="white">
                SEBASTIAN HARHAMMER - FRONTEND DEVELOPER - SEBASTIAN HARHAMMER - FRONTEND DEVELOPER
            </textPath>
        </text>
    </svg>
</div>