.hero {
    background-image: url('./../../../../public/assets/img/hero/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: #fff;
}


