<div class="hero">
    <div class="hero-content">
        <span id="HelloWorld">Hello World</span>
        <h1>Frontend</h1>
        <h1>Developer</h1>
        <span>Get in Touch</span>
        <div id="socialMedia">
            <div class="socialMediaItem">
                <a href="https://www.linkedin.com/in/your-linkedin-profile">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://www.github.com/your-github-profile">
                    <i class="fab fa-github"></i>
                </a>
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</div>

