<section class="hero-section">
<div class="hero">
    <div class="hero-content">
        <div class="hello-world">
            <span id="helloWorld">Hello World</span>
        </div>
        <div class="front-container">
            <h1 id="frontend">Frontend</h1>
            <img id="frontendImage" src="assets/img/hero/pictureFrame.png" alt="frontend" id="frontendImage">
        </div>
        <div class="dev-container">
            <h1 id="developer">Developer</h1>
        </div>
        <div class="get-in-touch">
            <span id="getInTouch">Get in Touch</span>
        </div>
        <div id="socialMedia">
            <div class="socialMediaItem">
                <a href="https://www.linkedin.com/in/your-linkedin-profile">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://www.github.com/your-github-profile">
                    <i class="fab fa-github"></i>
                </a>
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</div>
</section>

