<div id="thoughtsContent">
    <div id="inTheirWordsContainer">
        <img id="inTheirWordsImage" src="assets/img/thoughts/blueArrow.svg" alt="In Their Words">
        <h4 id="inTheirWordsTitle">{{ 'thoughts.inTheirWords' | translate }}</h4>
    </div>
    <div id="colleaguesThoughtsContainer">
        <h1 id="colleaguesThoughtsTitle">{{ 'thoughts.title' | translate }}</h1>
    </div>
    <div id="thoughtsContainer">
        <div class="card-container">
            <img id="card03" class="card" src="assets/img/thoughts/01card.webp" alt="Card 03">
            <img id="card03Overlay" class="cardOverlay" src="assets/img/thoughts/hover_line.svg" alt="Card 03">
            <span class="commentary" id="commentary03">
                {{ 'thoughts.card03.thought' | translate }}
            </span>
            <span class="commentaryAuthor" id="commentaryAuthor03">{{ 'thoughts.card03.author' | translate }}</span>
            <a href="{{ 'thoughts.card03.link' | translate }}" class="commentaryLink" id="commentaryLink03" target="_blank"><img src="assets/img/thoughts/linkedIn.svg" alt="LinkedIn"></a>
        </div>
  <!--       <div class="card-container">
            <img id="card02" class="card" src="assets/img/thoughts/02card.webp" alt="Card 02">
            <img id="card02Overlay" class="cardOverlay" src="assets/img/thoughts/hover_line.svg" alt="Card 03">
            <span class="commentary" id="commentary02">
                {{ 'thoughts.card02.thought' | translate }}
            </span>
            <span class="commentaryAuthor" id="commentaryAuthor02">{{ 'thoughts.card02.author' | translate }}</span>
            <a href="{{ 'thoughts.card02.link' | translate }}" class="commentaryLink" id="commentaryLink02" target="_blank"><img src="assets/img/thoughts/linkedIn.svg" alt="LinkedIn"></a>
        </div> -->
        <div class="card-container">
            <img id="card01" class="card" src="assets/img/thoughts/01card.webp" alt="Card 01">
            <img id="card01Overlay" class="cardOverlay" src="assets/img/thoughts/hover_line.svg" alt="Card 03">
            <span class="commentary" id="commentary01">
                {{ 'thoughts.card01.thought' | translate }}
            </span>
            <span class="commentaryAuthor" id="commentaryAuthor01">{{ 'thoughts.card01.author' | translate }}</span>
            <a href="{{ 'thoughts.card01.link' | translate }}" class="commentaryLink" id="commentaryLink01" target="_blank"><img src="assets/img/thoughts/linkedIn.svg" alt="LinkedIn"></a>
        </div>
    </div>
</div>
