<div id="thoughtsContent">
    <div id="inTheirWordsContainer">
        <img id="inTheirWordsImage" src="assets/img/thoughts/blueArrow.svg" alt="In Their Words">
        <h4 id="inTheirWordsTitle">IN THEIR WORDS</h4>
    </div>
    <div id="colleaguesThoughtsContainer">
        <h1 id="colleaguesThoughtsTitle">Colleagues Thoughts</h1>
    </div>
    <div id="thoughtsContainer">
        <img id="card03" class="card" src="assets/img/thoughts/01card.png" alt="Card 03">
        <img id="card02" class="card" src="assets/img/thoughts/02card.png" alt="Card 02">
        <img id="card01" class="card" src="assets/img/thoughts/01card.png" alt="Card 01">
    </div>
</div>
