#thoughtsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 80vh;
    max-width: 1440px;
    max-height: 600px;
    margin: 0 auto;
    font-family: 'Bricolage Grotesque';
    overflow-x: hidden;
    overflow-y: hidden;
}
#inTheirWordsContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-right: 2%;
    padding-top: 5%;
    @media (max-width: 768px) {
        padding-right: 2%;

    }
}
#inTheirWordsImage {
    animation: appear 3s ease-in-out infinite;
}
@keyframes appear {
    0% {
        clip-path: inset(0 0 0 100%);
        transform: scaleX(0);
    }
    10% {
        clip-path: inset(0 0% 0% 0);
        transform: scaleX(1.05);
    }
    100% {
        clip-path: inset(0 0 0 0);
        transform: scaleX(1);
    }
}
#inTheirWordsTitle {
    
    font-size: 1.5rem;
    font-weight: 500;
    @media (max-width: 768px) {
        font-size: 1.2rem;
    }
    @media (max-width: 480px) {
        font-size: 1rem;
    }
}

#colleaguesThoughtsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2%;
    @media (max-width: 768px) {
        padding-right: 2%;
    }
}
#colleaguesThoughtsTitle {
    font-size: 4rem;
    font-weight: 500;
    @media (max-width: 768px) {
        font-size: 3rem;
    }
    @media (max-width: 480px) {
        font-size: 2rem;
    }
}

#thoughtsContainer {
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
    @media (max-width: 768px) {
        flex-direction: column;
        width: 100%;
        padding-left: 4%;
        padding-right: 4%;

    }
}
.card-container {
    max-width: 400px;
    max-height: 250px;
    width: 100%;
    height: 100%;
    position: relative;
    &:hover {
        z-index: 10;
        
        img {
            rotate: 180deg;
            filter: brightness(1.2);
            scale: 1.0;
            
            transition: all 0.3s ease-in-out;
        }
        a {
            rotate: 180deg;
            z-index: 10;
        }
        span {
            rotate: 360deg;
            transition: all 0.3s ease-in-out;
            z-index: 10;
            color: white;
        }
    }
    @media (max-width: 768px) {
        width: 100%;
        height: 100%;
        max-width: 400px;
        max-height: 600px;
    }
}
.card {
    width: 100%;
    height: 100%;
    &:hover {
        z-index: 10;
    }
}

#card01 {
    position: absolute;
    top: 10%;
    right: 10%;
    transform: rotate(-5deg);
    animation: card1 3s ease-in-out infinite;
    @media (max-width: 768px) {
        right: 0;
        top: 30%;
    }
}
@keyframes card1 {
    0% {
        filter: saturate(1);
    }
    25% {
        filter: saturate(3);
    }
    50% {
        filter: saturate(1);
    }
    100% {
        filter: saturate(1);
    }
}


#card02 {
    position: absolute;
    top: 20%;
    left: 0;
    transform: rotate(0);
    animation: card2 3s ease-in-out infinite;
    @media (max-width: 768px) {
        left: -5px;
    }
}
@keyframes card2 {
    0% {
        filter: saturate(1);
    }
    50% {
        filter: saturate(3);
    }
    75% {
        filter: saturate(1);
    }
    100% {
        filter: saturate(1);
    }
}

#card03 {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: rotate(5deg);
    animation: card3 3s ease-in-out infinite;

    @media (max-width: 768px) {
        left: 0;
    }
}
@keyframes card3 {
    0% {
        filter: saturate(1);
    }
    75% {
        filter:saturate(3);
    }
    100% {
        filter: saturate(1);
    }
}

.commentary {
    position: absolute;
    font-size: 1rem;
    font-weight: 500;
    @media (max-width: 768px) {
        font-size: 0.7rem;
    }
}

#commentary01 {
    top: 20%;
    right: 15%;
    left: 0%;
    transform: rotate(-5deg);
    z-index: 5;
    @media (max-width: 768px) {
        left: 10%;
        top: 50%;
    }
}
#commentaryAuthor01 {
    top: 75%;
    right: 10%;
    left: 10%;
    transform: rotate(-5deg);
    @media (max-width: 768px) {
        top: 95%;
    }
}
#commentaryLink01 {
    top: 70%;
    left: 60%;
    filter: invert(1);
    transform: rotate(-5deg);
    @media (max-width: 768px) {
        top: 90%;
        left: 70%;
    }
}


#commentary02 {
    top: 30%;
    left: 10%;
    right: 10%;
    transform: rotate(0);
    z-index: 5;
}
.commentaryAuthor {
    position: absolute;
    font-size: 1rem;
    font-weight: 500;
    @media (max-width: 768px) {
        font-size: 0.8rem;
    }
}
#commentaryAuthor02 {
    top: 75%;
    left: 10%;
    right: 10%;
}
#commentaryLink02 {
    top: 75%;
    right: 30%;
}

#commentary03 {
    top: 20%;
    left: 15%;
    right: 10%;
    transform: rotate(5deg);
    z-index: 5;
}
#commentaryAuthor03 {
    top: 75%;
    left: 14%;
    right: 10%;
    transform: rotate(5deg);
}
#commentaryLink03 {
    top: 75%;
    left: 70%;
    transform: rotate(5deg);
}

#card03Overlay {
    transform: rotate(5deg);
    top: 10%;
    left: 10%;
    @media (max-width: 768px) {
        left: 0;
    }
}

#card02Overlay {
    transform: rotate(0deg);
    top: 20%;
    left: 0%;
}

#card01Overlay {
    transform: rotate(-5deg);
    top: 10%;
    right: 10%;
    @media (max-width: 768px) {
        top: 30%;
        right: 0;
    }
}
.commentaryLink {
    position: absolute;
}
.cardOverlay {
    position: absolute;
   width: 100%;
   height: 100%;

}