#aboutmeContent {
  width: 100%;
  max-width: 1400px;
  height: 60vh;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
#rippedPaperContainer {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#aboutMeDescription {
  width: 100%;
  /* height: 60%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ripped-paper {
  width: 100%;
  height: 100%;
  position: relative;

}
.bar {
  position: absolute;
  width: 400px;
  height: 200px;
}
#yellow {
  z-index: 15;
}
#blue {
  z-index: 10;
}
#orange {
  z-index: 5;
}


#yellowBar {
  transform: rotate(-5deg);
  z-index: 3;
}

#locationSvg {
  position: absolute;
  top: 20%;
  left: 30%;
  transform: rotate(-5deg);
}

#locationText {
  position: absolute;
  top: -4%;
  left: 45%;
  transform: translate(-50%, -50%);
  transform: rotate(-10deg);
  width: 100%;
  height: 100%;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}
#blueBar {
  transform: rotate(0deg);
  z-index: 2;
}
#relocateSvg {
  position: absolute;
  top: 15%;
  left: 30%;
  transform: rotate(0deg);
}
#relocationText {
  position: absolute;
  top: 20%;
  left: 40%;
  transform: translate(-50%, -50%);
  transform: rotate(0deg);
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}

#orangeBar {
  transform: rotate(5deg);
  z-index: 1;
}

#remoteSvg {
  position: absolute;
  top: 10%;
  left: 30%;
  transform: rotate(5deg);
}

#remoteText {
  position: absolute;
  top: 20%;
  left: 40%;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  transform: rotate(10deg);
}

#whoIs {
  font-size: 1.2rem;
  font-family: "Bricolage Grotesque";
  font-weight: 400;
}

#aboutme {
  font-size: 3rem;
  font-family: "Bricolage Grotesque";
  font-weight: 500;
}

#BlueLine {
  width: 100%;
  max-width: 250px;
  height: 100%;
  padding-bottom: 50px;
}

#description {
  font-size: 1.2rem;
  font-family: "Bricolage Grotesque";
  font-weight: 200;
  line-height: 1.1;
  text-overflow: ellipsis;
}
#letsTalkContainer {
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 50px;
}
#letsTalk {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
  border: 1px solid black;
  border-bottom: 10px solid black;
  border-right: 7px solid black;
  border-radius: 25px;
  padding: 5px 20px 5px 20px;
  transition: border 0.3s ease-in-out;
  &:hover {
    border: 1px solid white;
    background-color: #f87a55;
    color: white;
    cursor: pointer;
  }
}
