<div class="imprint-container">
  <h1>{{ 'imprint.title' | translate }}</h1>
  <div id="contactInformation">
    <h3>{{ 'imprint.Information_according_to_§5_DDG.Name' | translate }}</h3>
    <h3>{{ 'imprint.Information_according_to_§5_DDG.Address.Street' | translate }}</h3>
    <h3>{{ 'imprint.Information_according_to_§5_DDG.Address.Postal_Code' | translate }}</h3>
    <h3>{{ 'imprint.Information_according_to_§5_DDG.Address.City' | translate }}</h3>
    <h3>{{ 'imprint.Contact.Phone' | translate }}</h3>
    <h3>{{ 'imprint.Contact.Email' | translate }}</h3>
  </div>
  <div id="disclaimer">
    <p>{{ 'imprint.Disclaimer.Liability_for_Content' | translate }}</p>
    <p>{{ 'imprint.Disclaimer.Liability_for_Links' | translate }}</p>
  </div>
  <div id="copyright">
    <p>{{ 'imprint.Copyright' | translate }}</p>
    <p>{{ 'imprint.Source' | translate }}</p>
  </div>
</div>