<div class="imprint-container">
  <h1>{{ 'imprint.title' | translate }}</h1>
  <h2>{{ 'imprint.Information_according_to_§5_DDG.Name' | translate }}</h2>
  <p>{{ 'imprint.Information_according_to_§5_DDG.Address.Street' | translate }}</p>
  <p>{{ 'imprint.Information_according_to_§5_DDG.Address.Postal_Code' | translate }}</p>
  <p>{{ 'imprint.Information_according_to_§5_DDG.Address.City' | translate }}</p>
  <h2>{{ 'imprint.Contact.Phone' | translate }}</h2>
  <p>{{ 'imprint.Contact.Email' | translate }}</p>
  <p>{{ 'imprint.Disclaimer.Liability_for_Content' | translate }}</p>
  <p>{{ 'imprint.Disclaimer.Liability_for_Links' | translate }}</p>
  <p>{{ 'imprint.Copyright' | translate }}</p>
  <p>{{ 'imprint.Source' | translate }}</p>
</div>
