.imprint-container {
  width: 100vw;
  position: relative;
  background-color: #fff;
  background-image: url("./../../../../public/assets/img/hero/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 100vh;
  color: white;
  font-family: 'Bricolage Grotesque', sans-serif;
  position: relative;

   h1 {
    margin-bottom: 2rem;
    font-size: 4rem;
    color: #C19C18;

   }
   #contactInformation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    padding-bottom: 2rem;
    margin: 0 auto;
    max-width: 1440px;
    
   }
   p {
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @media (max-width: 768px) {
      font-size: 1rem;
    }
   }
   #copyright {
    padding-bottom: 2%;
   }
}

#imprintContent {
  max-width: 1440px;
  margin: 0 auto;
  width: 90%; 
}

#backButtonContainer {
  position: fixed;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid white;
  border-radius: 20px;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  background-color: #C19C18;
  padding: 10px;
  z-index: 20;
  &:hover {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    cursor: pointer;
  }
}

#backButton {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  span {
    font-size: 1.2rem;
    font-family: 'Bricolage Grotesque', sans-serif;
  }
  
  &:hover {
    opacity: 0.8;
  }
}

::ng-deep #footerContainer {
  display: none !important;
}
::ng-deep .navbar-menu-item {
  display: none !important;
}
::ng-deep #footerContainer {
  margin: -350px auto 0 auto !important;
}
