#skillSetContent {
    width: 100%;
    height: 33vh;
    background-image: url('./../../../../public/assets/img/skills/skills_background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

#skillSetContainer {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

#topContainer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 2%;
    justify-content: flex-start;
    @media (max-width: 768px) {
        flex-direction: column;
        position: relative;
        top: 0;
    }
}

#bottomContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media (max-width: 768px) {
        position: relative;
        top: 0;
    }
}

#headlineContainer {
    width: 35%;
    padding-left: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: 'Bricolage Grotesque';
    font-weight: 500;
    color: #fff;
    max-height: 200px;
    @media (max-width: 768px) {
        width: 100%;
        padding-left: 2%;
        padding-right: 2%;
        align-items: flex-end;
        padding-bottom: 50px;
    }
}


#myStackTitle {
    font-size: 1rem;
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    animation: myStackTitle 10s ease-in-out infinite;
    @media (max-width: 768px) {
        width: 100%;
        height: 100%;
        padding-right: 15%;
    }
    @media (max-width: 480px) {
        padding-right: 0;
    }
}
@keyframes myStackTitle {
    0% {
      color: white;
    }
    50% {
      color: #f87a55;
      text-shadow: 0 0 2px #f87a55;
    }
    100% {
      color: white;
    }
  }

#skillSetTitle {
    font-size: 1.5rem;
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}

#skillFrame {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    animation: appear 3s ease-in-out infinite;
    @media (max-width: 1050px) {
        width: 150%;
    }
    @media (max-width: 768px) {
        width: 100%;
    }
}

@keyframes appear {
    0% {
        clip-path: inset(0 100% 100% 0);
    }
    60% {
        clip-path: inset(0 0 50% 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

#descriptionContainer {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

#descriptionImage {
    width: 100%;
    max-width: 600px;
    height: 150px;
    position: relative;
    @media (max-width: 768px) {
        width: 100%;
        height: 150px;
      
    }
}

#descriptionText {
    font-size: 1rem;
    color: black;
    position: absolute;
    top: 26%;
    left: 5%;
    right: 2%;
    bottom: 10%;
    font-family: 'Bricolage Grotesque';
    @media (max-width: 768px) {
        font-size: 0.8rem;
    }
}

#skillContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 5%;
    padding-left: 15%;
    @media (max-width: 1100px) {
        flex-direction: column;
        padding-right: 2%;
        padding-left: 2%;
    }
}

#iconContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 700px;
    div {
        flex: 1 0 20%;
    }
    @media (max-width: 1101px) {
        max-width: 599px;
    }
    @media (max-width: 768px) {
        gap: 5px;
        width: 95%;
    }
}

.iconWrapper {
    display: flex;
    max-height: 125px;
    max-width: 125px;
    min-height: 125px;
    min-width: 125px;
    gap: 10px;
    padding: 25px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  
    @media (max-width: 1101px) {
        max-height: 100px;
        max-width: 100px;
        min-height: 100px;
        min-width: 100px;
    }
    @media (max-width: 768px) {
        max-height: 100px;
        max-width: 100px;
        min-height: 100px;
        min-width: 100px;
    }

}
.iconImage {
    width: 100%;
    height: 100%;
    max-width: 75px;
    max-height: 75px;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
    &:hover {
        filter: grayscale(0%);
        transition: width 0.3s ease-in-out, height 0.5s ease-in-out;
        width: 75%;
        height: 75%;
    }
    @media (max-width: 768px) {
        width: 75%;
        height: 75%;
    }
}

.iconTitle {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    @media (max-width: 768px) {
        font-size: 0.8rem;
    }
}
@keyframes iconTitle {
    0% {
        scale: 1;
        color: #f87a55;
        box-shadow: 0 0 2px 2px #f87a55;
    }
    50% {
        scale: 0.9;
        color: #fff;
        box-shadow: 0 0 2px 2px transparent;
    }
    100% {
        scale: 1;
        color: #f87a55;
        box-shadow: 0 0 2px 2px #f87a55;
    }
}

#PeelOffContainer {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 0;
    position: relative;
    @media (max-width: 497px) {
     
    }
}

#peelOffImage {
    width: 100%;
    height: 100%;
    max-width: 255px;
    max-height: 255px;
    min-width: 196px;
    min-height: 196px;
    position: relative;
    transform: rotate(10deg);
    @media (max-width: 480px) {
        min-width: 150px;
        min-height: 150px;
    }
  /*   @media (max-width: 388px) {
        position: absolute;
    } */
}

#peelOffTextContainer {
    pointer-events: none;
    width: 100%;
    height: 100%;
    max-width: 255px;
    max-height: 255px;
    z-index: 5;
    position: absolute;
    transform: rotate(10deg);
   /*  @media (max-width: 388px) {
        position: relative;
    } */
}
#topPart {
    position: absolute;
    top: 20%;
    left:10%;
    right: 10%;
    bottom: 0;
    @media (max-width: 480px) {
        width: 100%;
    }
 /*    @media (max-width: 388px) {
        top: -50px;
        width: 100%;
        left: 25px;
    } */
}
#bottomPart {
    position: absolute;
    top: 50%;
    left: 20%;
    right: 20%;
    bottom: 0;
    @media (max-width: 480px) {
        width: 100%;
    }
/*     @media (max-width: 388px) {
        top: -4px;
        bottom: 10%;
        width: 100%;
        left: 50%;
    } */
}
