<div id="skillSetContent">
    <div id="topContainer">
        <div id="headlineContainer">
            <div id="myStackTitle">
                <h5>MY STACK</h5>
            </div>
            <div id="skillSetTitle">
                <h1>Skill set</h1>
                <img src="assets/img/skills/skillFrame.svg" id="skillFrame">
            </div>
        </div>
        <div id="descriptionContainer">
            <img id="descriptionImage" src="assets/img/skills/frame.png" alt="description_image">
            <span id="descriptionText">
                <p>
                    I'm a software developer with a passion for <br>
                    creating efficient and user-friendly applications.
                </p>
            </span>
        </div>

    </div>
    <div id="bottomContainer">
        <div id="skillContainer">
            <div id="iconContainer">
                <ng-container *ngFor="let icon of icons">
                    <div class="iconWrapper">
                        <img class="iconImage" [src]="icon.src" [alt]="icon.alt">
                        <span class="iconTitle">{{ icon.title }}</span>
                    </div>
                </ng-container>
            </div>
            <ng-container id="PeelOffContainer">
                <img (click)="peelOff()" id="peelOffImage" [src]="currentImage.src" [alt]="currentImage.alt"
                    alt="peelOff_image">
            </ng-container>

        </div>
    </div>
</div>