#skillSetContent {
    width: 100%;
    height: 33vh;
    background-image: url('./../../../../public/assets/img/skills/skills_background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

#skillSetContainer {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

#topContainer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 2%;
    justify-content: flex-start;
    @media (max-width: 768px) {
        flex-direction: column;
        position: relative;
        top: 0;
    }
}

#bottomContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media (max-width: 768px) {
        position: relative;
        top: 0;
    }
}

#headlineContainer {
    width: 35%;
    padding-left: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: 'Bricolage Grotesque';
    font-weight: 500;
    color: #fff;
    max-height: 200px;
    @media (max-width: 768px) {
        width: 100%;
        padding-left: 2%;
        padding-right: 2%;
        align-items: flex-end;
        padding-bottom: 50px;
    }
}


#myStackTitle {
    font-size: 1rem;
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    @media (max-width: 768px) {
        width: 100%;
        height: 100%;
        padding-right: 15%;
    }
    @media (max-width: 480px) {
        padding-right: 0;
    }
}

#skillSetTitle {
    font-size: 1.5rem;
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}

#skillFrame {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    animation: appear 5s infinite;
    @media (max-width: 1050px) {
        width: 150%;
    }
    @media (max-width: 768px) {
        width: 100%;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#descriptionContainer {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

#descriptionImage {
    width: 100%;
    max-width: 600px;
    height: 150px;
    position: relative;
    @media (max-width: 768px) {
        width: 100%;
        height: 150px;
      
    }
}

#descriptionText {
    font-size: 1rem;
    color: black;
    position: absolute;
    top: 20%;
    left: 5%;
    right: 2%;
    bottom: 10%;
    font-family: 'Bricolage Grotesque';
    @media (max-width: 768px) {
        font-size: 0.8rem;
    }
}

#skillContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 5%;
    padding-left: 15%;
    @media (max-width: 1100px) {
        flex-direction: column;
        padding-right: 2%;
        padding-left: 2%;
    }
}

#iconContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 700px;

    @media (max-width: 768px) {
        gap: 5px;
        padding: 15px;
        width: 95%;
    }
}

.iconWrapper {
    display: flex;
    max-height: 125px;
    max-width: 125px;
    gap: 10px;
    padding: 25px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    @media (max-width: 768px) {
        gap: 2px;
        padding: 5px;
    }

}
.iconImage {
    width: 100%;
    height: 100%;
    max-width: 75px;
    max-height: 75px;
    filter: grayscale(100%);
    transition: filter 0.5s ease-in-out;
    &:hover {
        filter: grayscale(0%);
        transition: width 0.3s ease-in-out, height 0.5s ease-in-out;
        width: 75%;
        height: 75%;
    }
    @media (max-width: 768px) {
        width: 75%;
        height: 75%;
    }
}

.iconTitle {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    @media (max-width: 768px) {
        font-size: 0.8rem;
    }
}

#PeelOffContainer {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 0;
    position: relative;
    @media (max-width: 1100px) {
        padding-top: 10%;
    }
}

#peelOffImage {
    width: 100%;
    height: 100%;
    max-width: 255px;
    max-height: 255px;
    min-width: 196px;
    min-height: 196px;
    position: relative;
    transform: rotate(10deg);
    @media (max-width: 480px) {
        min-width: 150px;
        min-height: 150px;
    }
    @media (max-width: 388px) {
        position: absolute;
    }
}

#peelOffTextContainer {
    pointer-events: none;
    width: 100%;
    height: 100%;
    max-width: 255px;
    max-height: 255px;
    z-index: 5;
    position: absolute;
    transform: rotate(10deg);
    @media (max-width: 388px) {
        position: relative;
    }
}
#topPart {
    position: absolute;
    top: 20%;
    left:10%;
    right: 10%;
    bottom: 0;
    @media (max-width: 480px) {
        width: 100%;
    }
    @media (max-width: 388px) {
        top: -50px;
        width: 100%;
        left: 25px;
    }
}
#bottomPart {
    position: absolute;
    top: 50%;
    left: 20%;
    right: 20%;
    bottom: 0;
    @media (max-width: 480px) {
        width: 100%;
    }
    @media (max-width: 388px) {
        top: -4px;
        bottom: 10%;
        width: 100%;
        left: 50%;
    }
}
