* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

app-root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section {
    
    width: 100vw;
}

@font-face {
    font-display: swap;
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 500;
    src: url('../public/assets/fonts/Bricolage_Grotesque/font.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 500;
    src: url('../public/assets/fonts/Kalam/font2.woff2') format('woff2');
}


