* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: #f7c518 rgb(60, 60, 60);
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #6969dd;
}
.bg-image-bottom {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.5s ease-in-out;
}
.bg-image-top {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out;
}


app-root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section {
  width: 100vw;
}

@font-face {
  font-display: swap;
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 500;
  src: url("../public/assets/fonts/Bricolage_Grotesque/font.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Kalam";
  font-style: normal;
  font-weight: 500;
  src: url("../public/assets/fonts/Kalam/font2.woff2") format("woff2");
}
